{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
    <script src="{{ asset('js/filtering.js') }}"></script>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product/allProducts-mainCat.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="ajax-gif">
            <img src="{{ asset('images/ajax-loader.gif') }}" alt="">
        </div>
        <div id="mainCatOptions" class="col-lg-4 col-xl-3">
            <div class="filter-type-section">
                <h2 class="attribute-name main-category" data-slug="{{ mainCategory.slug }}">Тип продукти</h2>
                <div class="options">
                    {% for subcategory in mainCategory.subcategory %}
                        <div class="option subcategory">
                            <a href="{{ path('app_products_main_subcategory', {slug: mainCategory.slug, slugSub: subcategory.slugSub }) }}">{{ subcategory.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <section id="productFilterSection">
                <div class="filter-type-section">
                    <h2 class="attribute-name">Марки</h2>
                    <div class="options">
                        {% for brand in mainCategory.brand %}
                            <div class="option js-brand">
                                <div class="input-block">
                                    <input id="optb{{ loop.index }}" type="checkbox" name="{{ brand.name }}"
                                           value="{{ brand.id }}">
                                </div>
                                <div class="label-input-block">
                                    <label for="optb{{ loop.index }}">{{ brand.name }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter-type-section">
                    <h2 class="attribute-name">Промоции</h2>
                    <div class="options">
                        <div class="option js-promotion">
                            <div class="input-block">
                                <input id="optp1" type="checkbox" name="promotion" value="0">
                            </div>
                            <div class="label-input-block">
                                <label for="optp1">Промоции</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-type-section">
                    <h2 class="attribute-name">Цена<small>(от/до)</small></h2>
                    <div class="options">
                        <input type="text" class="js-range-slider" name="my_range" value=""
                               data-min="0"
                               data-max="300"
                               data-from="0"
                               data-to="300"
                               data-grid="true"
                        />
                        <div class="js-prices">
                            <input type="hidden" class="js-price" name="minPrice" value="1">
                            <input type="hidden" class="js-price" name="maxPrice" value="300">
                        </div>
                    </div>
                </div>
                <button class="clear-filters">Изчисти</button>
            </section>
        </div>

        <div class="products offset-sm-1 col-lg-7 col-xl-8">
            {{ blocks|raw }}
        </div>

    </div>

    {#
      <ul>
          {{ knp_pagination_sortable(pagination, 'Id', 'id') }}
          {{ knp_pagination_sortable(pagination, 'name', 'name') }}
          {% for product in pagination %}

              <li>{{ product.name }}</li>
              <li>{{ product.mainCategory.name }}</li>
          {% endfor %}
      </ul>

      {{ knp_pagination_render(pagination) }}
     #}
{% endblock %}