{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
    <script src="{{ asset('js/transpiled-js/all_mainCat.js') }}"></script>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product/filtering-aside-block.css') }}">
    <link rel="stylesheet" href="{{ asset('css/product/allProducts-mainCat.css') }}">
    <link rel="stylesheet" href="{{ asset('css/product/products-block.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="ajax-gif">
            <img src="{{ asset('images/ajax-loader.gif') }}" alt="">
        </div>
        <aside id="Options" class="col-lg-2 col-xl-2">
            <div class="filter-type-section">
                <h2 class="attribute-name main-category" data-slug="{{ mainCategory.slug }}">Тип продукти</h2>
                <div class="options">
                    {% for subcategory in mainCategory.subcategory %}
                        <div class="option main-sub-cat">
                            <a href="{{ path('app_products_main_subcategory', {slug: mainCategory.slug, slugSub: subcategory.slugSub }) }}">{{ subcategory.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ include('product/filtering-aside-block.html.twig') }}
        </aside>
        <section class="products col-lg-9 col-xl-9 ml-auto">
            {# products BLOCKS + PAGINATION #}
            {{ blocks|raw }}
        </section>
    </div>
{% endblock %}
