{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product/main-category.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('js/lightslider-master/transpiled-js/css/lightslider.css') }}"/>
{% endblock %}
{% block title %}Зоомагазин Онлайн, храни и аксесоари за домани любимци | Санитус{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="../{{ asset('js/lightslider-master/src/js/lightslider.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#lightSlider").lightSlider({
                item: 4,
                loop: true,
                slideMove: 4,
                auto: true,
                pauseOnHover: true,
                prevHtml: '<span class="custom-prev-html"><img src="{{ asset('images/icons/iconfinder_previous.png') }}" /></span>',
                nextHtml : '<span class="custom-next-html"><img src="{{ asset('images/icons/iconfinder_next.png') }}" /></span>',

                responsive : [
                    {
                        breakpoint:1512,
                        settings: {
                            item:3,
                            slideMove:1,
                            slideMargin:10,
                        }
                    },
                    {
                        breakpoint:1056,
                        settings: {
                            item:2,
                            slideMove:1,
                            slideMargin:5,
                        }
                    },
                    {
                        breakpoint:600,
                        settings: {
                            item:1,
                            slideMove:1
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}
{% block body %}
    {% if mainCategory.img is not same as ("") %}
        <header class="main-category-name">
            <div class="white-border-top"></div>
            <img src="{{ mainCategory.imagePath }}">
            <h2>{{ mainCategory.name }}</h2>
            <p>{{ mainCategory.info }}</p>
            <div class="white-border"></div>
        </header>
        <div class="check-all"><a href="{{ path('app_products_maincategory', {slug: mainCategory.slug}) }}">Виж
                всички</a></div>
        {% if promotions is not empty %}
            <h1 class="line-on-sides"><span>Промоции</span></h1>
            <section id="lightSlider" class="products-section">
                {% for promotionProduct in promotions %}
                    <div class="product-block">
                        <a href="{{ path('app_product_page',
                            {main_category: promotionProduct['slug'],
                                sub_category: promotionProduct['slugSub'],
                                category: promotionProduct['slugCat'],
                                id: promotionProduct['id']}) }}" class="img-block">
                            <img src="images/products/{{ promotionProduct['img'] }}" alt="">
                        </a>
                        <div class="product-block-info">
                            <a href="{{ path('app_product_page',
                                {main_category: promotionProduct['slug'],
                                    sub_category: promotionProduct['slugSub'],
                                    category: promotionProduct['slugCat'],
                                    id: promotionProduct['id']}) }}" class="product-name">{{ promotionProduct['name'] }}</a>
                            <div class="product-price">
                                <span class="promo-price">{{ promotionProduct['finalPrice'] }} лв.</span>
                                <small>{{ promotionProduct['price'] }} лв.</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
            {# {{ knp_pagination_render(promotions) }} #}
        {% endif %}
    {% else %}
        <header class="main-category-name">
            <h2>{{ mainCategory.name }}</h2>
            <p>{{ mainCategory.info }}</p>

        </header>
    {% endif %}


{% endblock %}
