
{% if products is not empty %}
    {% for product in products %}
        <div class="product">
            <h2>{{ product.name }}</h2><small>{{ product.mainCategory.name }}</small>
            {% for variety in product.productVarieties %}
                <span>{{ variety.finalPrice }}</span>
                <strong>PROMO: {{ variety.promotionCut }}</strong><br>
                <small>{{ product.id }}</small>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <h2>Няма намерени продукти</h2>
{% endif %}
{% if pagesCount >= 2 %}
    <div class="js-pagination pagination-block">

        <a class="page-link page-item">Previous</a>
        <ul class="pagination pg-blue justify-content-center">
            {% for i in range(1,pagesCount) %}
                <li data-page="{{ loop.index }}" class="page-item {{ loop.index == 1 ? 'default-page' : '' }}"><a class="page-link">{{ loop.index }}</a></li>
            {% endfor %}
        </ul>
        <a class="page-link page-item">Next</a>

    </div>
{% endif %}
