<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheet %}
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-override.css') }}">

    {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    {% endblock %}

</head>
<body>
<div class="container-fluid">

    {# --------------- TOP BAR ------------------ #}
    {{ render(controller(
        'App\\Controller\\MainController::topbarItems'
    ))}}

    {# --------------- HEADER ------------------ #}
    {{ include('main/header.html.twig') }}

    {# --------------- NAV BAR ------------------ #}
    {{ render(controller(
        'App\\Controller\\MainController::navbarItems',{},
        {'active_slug': app.request.get('_route_params')}
    ))}}

    <div class="content">
        {% block body %}

        {% endblock %}
    </div>
</div>

{# --------------- FOOTER ------------------ #}
{{ include('main/footer.html.twig') }}


<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1200,
    })
</script> -->
</body>
</html>
